<head>
    <title>
            All Coin Wallet
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script>
        var app = angular.module("myApp",[]);
    </script>
    <!--CONTROLLERS-->
    <script src="js/controllers/cadastroController.js"></script>
    <!--SERVICES-->
    <script src="js/services/salvarCadastro.js"></script>
    <script src="js/services/selectUser.js"></script>  
</head>